# Extract Data Using BeautifulSoup Library

VgChart Scrapping Using BeautifulSoup Following Steps Involves :
1. Import Required libraries
2. Using requests library download web page and validate
3. For accesss the web page content,use .text property of the response and   Create a BeautifulSoup object to parse the content
4. Define the function for extract header from Vgchart
5. Define the function for extract value in list of dictinory.
6. Create 6 variable which contain list of dictinory.
7. Create 6 DataFrame using pandas library.
8. Import drive and save the file in csv format in google drive location.
9. Using os module find out list of directory in VG_chart_file folder and with the help of loop find out final_df

**Step 1.** Import Required libraries

In [ ]:
import requests
from bs4 import BeautifulSoup
import time
import random
import pandas as pd
import os

**Step 2.** Using requests library download web page and validate

In [ ]:
url='https://www.vgchartz.com/games/games.php?page=1&results=200&order=Sales&ownership=Both&direction=DESC&showtotalsales=1&shownasales=1&showpalsales=1&showjapansales=1&showothersales=1&showpublisher=1&showdeveloper=0&showreleasedate=1&showlastupdate=1&showvgchartzscore=1&showcriticscore=1&showuserscore=1&showshipped=1'
response=requests.get(url)
print(response.status_code)

200

**Step 3.** For accesss the web page content,use .text property of the response and  Create a BeautifulSoup object to parse the content

In [ ]:
page_content=response.text
doc=BeautifulSoup(page_content)

**Step 4.**Define the function for extract header from Vgchart

In [ ]:
def extract_header(soup_object):
        var=[]
        for i in range(3,17):
            x=soup_object.find('table').find_all('th',{'style':True})[i].text.strip()
            var.append(x)
        return var

In [ ]:
header_list=extract_header(doc)
print(header_list)

['Game', 'Console', 'Publisher', 'VGChartz Score', 'Critic Score', 'User Score', 'Total Shipped', 'Total Sales', 'NA Sales', 'PAL Sales', 'Japan Sales', 'Other Sales', 'Release Date', 'Last Update']

**Step 5.**Define the function for extract value in list of dictinory.

In [ ]:
def extract_values(header_list,page_number):
                final=[]    
                base_url = f'https://www.vgchartz.com/games/games.php?page={page_number}&results=200&order=Sales&ownership=Both&direction=DESC&showtotalsales=1&shownasales=1&showpalsales=1&showjapansales=1&showothersales=1&showpublisher=1&showdeveloper=0&showreleasedate=1&showlastupdate=1&showvgchartzscore=1&showcriticscore=1&showuserscore=1&showshipped=1'
                response=requests.get(base_url)
                page_content=response.text
                soup_object=BeautifulSoup(page_content)
                for i in range(200):
                    u=soup_object.find('table').find_all('tr',{'style':True})[i]
                    new=[]
                    for x in u.find_all('td')[2:]:
                        if x.text.strip()!='':
                            new.append(x.text.strip())
                        else:
                            new.append(x.find('img')['alt'])
                    dict_intial=dict(zip(header_list,new))
                    u=soup_object.find('table').find_all('tr',{'style':True})[i]
                    res=requests.get(u.find('td',style="font-size:12pt;").find('a')['href'])
                    soup=BeautifulSoup(res.text)
                    h2tags=soup.find('div',id="gameGenInfoBox").find_all('h2')
                    temp_tag = None
                    for tags in h2tags:
                        if tags.text=='Genre':
                            temp_tag = tags
                    dict_intial['Genre']=temp_tag.next_sibling.text
                    final.append(dict_intial)
                    time.sleep(random.randint(2,4)) #Script will be stopped for a period of time ranging from 2 to 4 seconds.
                return final

**Step 6**.Create 6 variable which contain list of dictinory.

In [ ]:
df=extract_values(header_list,1)

In [ ]:
df2=extract_values(header_list,2)
df3=extract_values(header_list,3)

In [ ]:
df4=extract_values(header_list,4)

In [ ]:
df5=extract_values(header_list,5)

In [ ]:
df6=extract_values(header_list,6)

**Step 7.**Create 6 DataFrame using pandas library.

In [ ]:
vg_chart1=pd.DataFrame(df)
vg_chart2=pd.DataFrame(df2)
vg_chart3=pd.DataFrame(df3)

In [ ]:
vg_chart4=pd.DataFrame(df4)
vg_chart5=pd.DataFrame(df5)
vg_chart6=pd.DataFrame(df6)

**Step 8.**import drive and save the file in csv format in google drive location.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
vg_chart1.to_csv('/content/drive/MyDrive/Web_Scraping/Vg_Chart.com/Using_BeautifulSoup/VG_chart_file/vgchart_page1.csv',index=False)
vg_chart2.to_csv('/content/drive/MyDrive/Web_Scraping/Vg_Chart.com/Using_BeautifulSoup/VG_chart_file/vgchart_page2.csv',index=False)
vg_chart3.to_csv('/content/drive/MyDrive/Web_Scraping/Vg_Chart.com/Using_BeautifulSoup/VG_chart_file/vgchart_page3.csv',index=False)

In [ ]:
vg_chart4.to_csv('/content/drive/MyDrive/Web_Scraping/Vg_Chart.com/Using_BeautifulSoup/VG_chart_file/vgchart_page4.csv',index=False)
vg_chart5.to_csv('/content/drive/MyDrive/Web_Scraping/Vg_Chart.com/Using_BeautifulSoup/VG_chart_file/vgchart_page5.csv',index=False)
vg_chart6.to_csv('/content/drive/MyDrive/Web_Scraping/Vg_Chart.com/Using_BeautifulSoup/VG_chart_file/vgchart_page6.csv',index=False)

In [ ]:
file_read=pd.read_csv('/content/drive/MyDrive/Web_Scraping/Vg_Chart.com/Using_BeautifulSoup/VG_chart_file/vgchart_page6.csv')
file_read.head()

,Game,Console,Publisher,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update,Genre
0,Pokémon Trading Card Game,GB,Nintendo,NaN,8.3,NaN,3.72m,NaN,NaN,NaN,NaN,NaN,10th Apr 00,NaN,Strategy
1,Ratchet & Clank,PS2,Sony Computer Entertainment,NaN,NaN,NaN,3.71m,NaN,NaN,NaN,NaN,NaN,07th Nov 02,NaN,Platform
2,FIFA 17,XOne,Electronic Arts,NaN,8.8,NaN,NaN,3.71m,1.04m,2.40m,NaN,0.27m,27th Sep 16,28th Mar 18,Sports
3,Hitman 2: Silent Assassin,All,Eidos Interactive,NaN,NaN,NaN,3.71m,NaN,NaN,NaN,NaN,NaN,01st Oct 02,26th Oct 20,Action-Adventure
4,FIFA Soccer 2005,PS2,EA Sports,NaN,8.4,NaN,NaN,3.70m,0.58m,2.48m,0.04m,0.59m,12th Oct 04,NaN,Sports

**Step 9.**Using os module find out list of directory in VG_chart_file folder and using loop find out final_df

In [ ]:
dir_list=os.listdir('/content/drive/MyDrive/Web_Scraping/Vg_Chart.com/Using_BeautifulSoup/VG_chart_file')

In [ ]:
final_df=pd.DataFrame(columns=header_list)
for i in range(1,len(dir_list)):
    df=df=pd.read_csv(f'/content/drive/MyDrive/Web_Scraping/Vg_Chart.com/Using_BeautifulSoup/VG_chart_file/{dir_list[i]}')
    final_df=pd.concat([final_df,df],ignore_index=True)

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Game            1200 non-null   object
 1   Console         1200 non-null   object
 2   Publisher       1200 non-null   object
 3   VGChartz Score  155 non-null    float64
 4   Critic Score    428 non-null    float64
 5   User Score      73 non-null     float64
 6   Total Shipped   940 non-null    object
 7   Total Sales     260 non-null    object
 8   NA Sales        260 non-null    object
 9   PAL Sales       260 non-null    object
 10  Japan Sales     211 non-null    object
 11  Other Sales     260 non-null    object
 12  Release Date    1200 non-null   object
 13  Last Update     840 non-null    object
 14  Genre           1200 non-null   object
dtypes: float64(3), object(12)
memory usage: 140.8+ KB

In [ ]:
final_df.to_csv("/content/drive/MyDrive/Web_Scraping/Vg_Chart.com/Using_BeautifulSoup/extracted_df.csv",index=False)

In [ ]:
pd.read_csv('/content/drive/MyDrive/Web_Scraping/Vg_Chart.com/Using_BeautifulSoup/extracted_df.csv')

,Game,Console,Publisher,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update,Genre
0,Tetris,Series,Nintendo,NaN,NaN,NaN,496.40m,NaN,NaN,NaN,NaN,NaN,31st Jul 89,27th Feb 20,Puzzle
1,Pokemon,Series,Nintendo,NaN,NaN,NaN,442.94m,NaN,NaN,NaN,NaN,NaN,28th Sep 98,03rd Feb 20,Role-Playing
2,Call of Duty,Series,Activision,NaN,NaN,NaN,400.00m,NaN,NaN,NaN,NaN,NaN,29th Oct 03,03rd Feb 20,Shooter
3,Super Mario,Series,Nintendo,NaN,NaN,NaN,394.96m,NaN,NaN,NaN,NaN,NaN,20th Jul 83,20th Feb 20,Platform
4,Grand Theft Auto,Series,Rockstar Games,NaN,NaN,NaN,385.00m,NaN,NaN,NaN,NaN,NaN,27th Mar 98,03rd Feb 20,Action-Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,Borderlands 2,X360,2K Games,NaN,NaN,NaN,NaN,3.06m,1.89m,0.88m,0.04m,0.26m,15th Jan 13,NaN,Shooter
1196,Fire Emblem Fates,3DS,Nintendo,NaN,NaN,NaN,3.05m,NaN,NaN,NaN,NaN,NaN,19th Feb 16,31st Dec 17,Role-Playing
1197,Kung Fu Panda,X360,Activision,NaN,7.5,NaN,NaN,3.05m,1.91m,0.84m,NaN,0.29m,03rd Jun 08,NaN,Platform
1198,Mass Effect 3 Read the review,X360,Electronic Arts,9.4,NaN,NaN,NaN,3.04m,1.94m,0.84m,0.03m,0.24m,06th Mar 12,NaN,Role-Playing
1199,Rhythm Heaven Read the review,DS,Nintendo,8.9,8.5,NaN,3.04m,NaN,NaN,NaN,NaN,NaN,05th Apr 09,31st May 18,Music