We need to transform the extracted data from VGchartz website into a cleaned data in this step. Following steps need to be in the transform phase
* Delete games without sales data

* Remove unwanted columns and rename the columns

* Add Release year column

* Convert Release date values to date format and Sales values to float format

* Write the transformed video games data into CSV file to be used for the Load process

The link for the extracted data is here - https://drive.google.com/file/d/1CWvgV4pLaMpJR2MmUnNdgbR7Gl4Sj5l5/view?usp=sharing

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ln -s "/content/drive/MyDrive/SQL_PROJECT" "/content"

Read Video Games Data from CSV

In [ ]:
# Read games data from CSV file into Dataframe
games_df = pd.read_csv('/content/SQL_PROJECT/Extracted_video_games_data.csv')

Delete games without sales data

In [ ]:
games_df.head()

,Pos,Game,Game.1,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update,Genre
0,1,NaN,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00m,NaN,NaN,NaN,NaN,NaN,22nd Mar 05,04th Mar 20,Action
1,2,NaN,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26m,NaN,NaN,NaN,NaN,NaN,30th Jun 97,24th Mar 20,Action
2,3,NaN,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00m,NaN,NaN,NaN,NaN,NaN,16th Oct 01,03rd Feb 20,Action
3,4,NaN,Dynasty Warriors,Series,Unknown,Omega Force,NaN,NaN,NaN,21.00m,NaN,NaN,NaN,NaN,NaN,NaN,24th Mar 20,Action
4,5,NaN,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32m,6.37m,9.85m,0.99m,3.12m,17th Sep 13,NaN,Action

In [ ]:
del games_df['Game']

In [ ]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58897 entries, 0 to 58896
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pos             58897 non-null  int64
 1   Game.1          58897 non-null  object
 2   Console         58897 non-null  object
 3   Publisher       58897 non-null  object
 4   Developer       58880 non-null  object
 5   VGChartz Score  1046 non-null   float64
 6   Critic Score    6549 non-null   float64
 7   User Score      395 non-null    float64
 8   Total Shipped   2909 non-null   object
 9   Total Sales     19193 non-null  object
 10  NA Sales        12831 non-null  object
 11  PAL Sales       13035 non-null  object
 12  Japan Sales     6890 non-null   object
 13  Other Sales     15360 non-null  object
 14  Release Date    55217 non-null  object
 15  Last Update     12737 non-null  object
 16  Genre           58897 non-null  object
dtypes: float64(3), int64(1), object(13)
memory usage: 7.6+ MB

Delete unwanted columns

Select only these columns :

'Pos', 'Game.1', 'Console', 'Publisher', 'Developer', 'VGChartz Score',
       'Critic Score', 'User Score', 'Total Shipped', 'Total Sales',
       'NA Sales', 'PAL Sales', 'Japan Sales', 'Other Sales', 'Release Date',
       'Genre'

In [ ]:
games_clean=games_df[['Pos','Game.1','Console','Publisher','Developer','VGChartz Score','Critic Score',\
          'User Score','Total Shipped','Total Sales', 'NA Sales', 'PAL Sales', \
          'Japan Sales', 'Other Sales', 'Release Date', 'Genre']]

Rename columns

In [ ]:
games_clean.rename({'Game.1':'game_name',"Pos":"rank","Release Date":"release_date",\
                    "NA Sales":"na_sales_in_millions","PAL Sales":"pal_sales_in_millions",\
                    "Japan Sales":"jp_sales_in_millions","Other Sales":'other_sales_in_millions',\
                    "Total Shipped":"total_shipped_in_millions","Total Sales":"global_sales_in_millions"},axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
games_clean.notnull().sum()

rank                         58897
game_name                    58897
Console                      58897
Publisher                    58897
Developer                    58880
VGChartz Score                1046
Critic Score                  6549
User Score                     395
total_shipped_in_millions     2909
global_sales_in_millions     19193
na_sales_in_millions         12831
pal_sales_in_millions        13035
jp_sales_in_millions          6890
other_sales_in_millions      15360
release_date                 55217
Genre                        58897
dtype: int64

Add Release Year Column

In [ ]:
games_releaseDate_clean=games_clean.loc[games_clean['release_date'].notnull()].copy()
games_releaseDate_clean['release_date']=pd.to_datetime(games_releaseDate_clean['release_date'])
games_releaseDate_clean['release_year']=games_releaseDate_clean['release_date'].dt.year

In [ ]:
games_releaseDate_clean.notnull().sum()

rank                         55217
game_name                    55217
Console                      55217
Publisher                    55217
Developer                    55206
VGChartz Score                 903
Critic Score                  6527
User Score                     383
total_shipped_in_millions     2111
global_sales_in_millions     19110
na_sales_in_millions         12816
pal_sales_in_millions        12995
jp_sales_in_millions          6851
other_sales_in_millions      15311
release_date                 55217
Genre                        55217
release_year                 55217
dtype: int64

Convert Release date values to Date format (yyyy-mm-dd)

In [ ]:
games_releaseDate_clean.head()

,rank,game_name,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,total_shipped_in_millions,global_sales_in_millions,na_sales_in_millions,pal_sales_in_millions,jp_sales_in_millions,other_sales_in_millions,release_date,Genre,release_year
0,1,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00m,NaN,NaN,NaN,NaN,NaN,2005-03-22,Action,2005
1,2,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26m,NaN,NaN,NaN,NaN,NaN,1997-06-30,Action,1997
2,3,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00m,NaN,NaN,NaN,NaN,NaN,2001-10-16,Action,2001
4,5,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32m,6.37m,9.85m,0.99m,3.12m,2013-09-17,Action,2013
5,6,Frogger,Series,Konami,Konami,NaN,NaN,NaN,20.00m,NaN,NaN,NaN,NaN,NaN,1981-10-23,Action,1981

Convert Sales values to Float format

In [ ]:
# strip out character m from total_shipped column

In [ ]:
def convert_num(row):
    return (row.replace("m",'')).strip()

In [ ]:
games_releaseDate_clean['total_shipped_in_millions']=games_releaseDate_clean['total_shipped_in_millions'].astype(str)
games_releaseDate_clean['global_sales_in_millions']=games_releaseDate_clean['global_sales_in_millions'].astype(str)
games_releaseDate_clean['na_sales_in_millions']=games_releaseDate_clean['na_sales_in_millions'].astype(str)
games_releaseDate_clean['pal_sales_in_millions']=games_releaseDate_clean['pal_sales_in_millions'].astype(str)
games_releaseDate_clean['jp_sales_in_millions']=games_releaseDate_clean['jp_sales_in_millions'].astype(str)
games_releaseDate_clean['other_sales_in_millions']=games_releaseDate_clean['other_sales_in_millions'].astype(str)

In [ ]:
games_releaseDate_clean['total_shipped_in_millions']=games_releaseDate_clean.apply(lambda row:convert_num(row['total_shipped_in_millions']),axis=1)
games_releaseDate_clean['global_sales_in_millions']=games_releaseDate_clean.apply(lambda row:convert_num(row['global_sales_in_millions']),axis=1)
games_releaseDate_clean['na_sales_in_millions']=games_releaseDate_clean.apply(lambda row:convert_num(row['na_sales_in_millions']),axis=1)
games_releaseDate_clean['pal_sales_in_millions']=games_releaseDate_clean.apply(lambda row:convert_num(row['pal_sales_in_millions']),axis=1)
games_releaseDate_clean['jp_sales_in_millions']=games_releaseDate_clean.apply(lambda row:convert_num(row['jp_sales_in_millions']),axis=1)
games_releaseDate_clean['other_sales_in_millions']=games_releaseDate_clean.apply(lambda row:convert_num(row['other_sales_in_millions']),axis=1)

In [ ]:
games_releaseDate_clean['total_shipped_in_millions']=games_releaseDate_clean['total_shipped_in_millions'].astype(float)
games_releaseDate_clean['global_sales_in_millions']=games_releaseDate_clean['global_sales_in_millions'].astype(float)
games_releaseDate_clean['na_sales_in_millions']=games_releaseDate_clean['na_sales_in_millions'].astype(float)
games_releaseDate_clean['pal_sales_in_millions']=games_releaseDate_clean['pal_sales_in_millions'].astype(float)
games_releaseDate_clean['jp_sales_in_millions']=games_releaseDate_clean['jp_sales_in_millions'].astype(float)
games_releaseDate_clean['other_sales_in_millions']=games_releaseDate_clean['other_sales_in_millions'].astype(float)

In [ ]:
games_releaseDate_clean.head()

,rank,game_name,Console,Publisher,Developer,VGChartz Score,Critic Score,User Score,total_shipped_in_millions,global_sales_in_millions,na_sales_in_millions,pal_sales_in_millions,jp_sales_in_millions,other_sales_in_millions,release_date,Genre,release_year
0,1,God of War,Series,Sony Computer Entertainment,SIE Santa Monica Studio,NaN,NaN,NaN,51.00,NaN,NaN,NaN,NaN,NaN,2005-03-22,Action,2005
1,2,Warriors,Series,KOEI,Omega Force,NaN,NaN,NaN,45.26,NaN,NaN,NaN,NaN,NaN,1997-06-30,Action,1997
2,3,Devil May Cry,Series,Capcom,Capcom,NaN,NaN,NaN,22.00,NaN,NaN,NaN,NaN,NaN,2001-10-16,Action,2001
4,5,Grand Theft Auto V,PS3,Rockstar Games,Rockstar North,NaN,9.4,NaN,NaN,20.32,6.37,9.85,0.99,3.12,2013-09-17,Action,2013
5,6,Frogger,Series,Konami,Konami,NaN,NaN,NaN,20.00,NaN,NaN,NaN,NaN,NaN,1981-10-23,Action,1981

Load transformed data to csv file

In [ ]:
games_releaseDate_clean.to_csv('/content/SQL_PROJECT/Transformed_video_games_data.csv',index =False)

In [ ]:
import os

In [ ]:
# Set csv file path
csv_file_path = os.path.join('/content/SQL_PROJECT', 'Transformed_video_games_data.csv')

In [ ]:
csv_file_path

'/content/SQL_PROJECT/Transformed_video_games_data.csv'